.application-background-primary {
	background-color: #424949;
	min-height: 1000px;
}

.application-background-secondary {
	background-color: #CCD1D1;
}

.text-white {
	color: #FFFFFF;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.border-none {
	border: none;
}

.margin-none {
	margin: 0%;
}