.header-layout {
	left: 0;
	background-color: #7b241c;
}

.logo-style {
	height: 80%;
	margin-left: 65%;
	margin-top: 7px;
	min-height: 30px;
	min-width: 30px;
	cursor: pointer;
}

.prof-style {
	margin-top: 5px;
	margin-left: 70px;
	width: 82px;
	height: 43px;
	padding: 0px;
	line-height: 40px
}

.prof-text-style {
	margin-top: -4px;
	margin-left: -4px
}


.header-bar{
	height: 100%;



}

.icon-container{

	width: 25%;
	height: 100%;

}

.search-container{

	width: 50%;
	height: 100%;

}

.profile-container{

	width: 25%;
	height: 100%;

}