.background-primary {
	background-color: #A93226;
}

.header-layout {
	padding: 9px 20px;
	position: relative;
}

.logo-style {
	max-height: 70%;
	max-width: 20%;
	min-width: 10%;
	min-height: 35%;
	border-radius: 4px;
	position: absolute;
	top: 15px;
	left: 16px;
}

.greet-style {
	position: absolute;
	top: 15px;
	right: 200px;
}