.p-style {
  margin-top: 10px;
  text-align: right;
  margin-right: 15%;
  color: white;
  width: 75%;
}

.desc-style {
  text-align: right;
  margin-right: 12%;
  color: white;
  margin-top: 90px;
}

.img-style {
  margin-left: 5%;
  width: 100%;
  height: 100%;
  float: left;
  max-width: 375px;
  max-height: 375px;
}

.login {
  background-color: #7b241c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
