.post-list-layout {
	margin-right: 20%;
	margin-left: 20%;
	border-right: 1px solid black; 
	border-left: 1px solid black;
	list-style: none;
}

.header-layout {
	position: sticky;
	top: 0;
	z-index: 10000;
	height: 53px
}


