.google-style {
    color: white;
    font-size: 16px;
    float: left;
    height: 30px;
    width: 30px;
    margin-left: 3px
}

.button-wrapper {
    margin-top: 10px;
text-align: right;
margin-right: 12%;
}

.google-button-style {
    cursor: pointer;
    background-color:#424949;
    width: 120px;
    height: 50px;
}

.google-text-style {
    color: white;
    margin-top: 2px
}