.logo-style {
    width:1px;
    height:1px;
}

.google-style {
    color: white;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-right: 18%;
    width: 60px;
    height: 30px;
    object-fit: contain;
    background-color: #424949
}

.button-wrapper {
    height: 150px;
  }