.postBox{
  padding: '5px';
  border: '3px solid #ffffff';
}

.Title {
  font-size:'16px';
  text-align: 'left'; 
  margin: '0%';
  }

.Genre {
    font-size:'13px';
    text-align: 'left'; 
    margin: '0%';
  }

.TextBody {
    font-size:'12px';
  }