.post-style {
	padding: 5px;
	box-shadow: 0px 1px  #424949;
}

.post-username {
	font-size: 16px;
}

.post-title {
	font-size: 13px;
}

.post-category {
	font-size: 12px;
}

.post-body {
	font-size: 12px;
}

.post-profile-pic-style {
	height: 25px;
	width: 25px;
	margin-bottom: 1px;
}