.post-button-style {
    margin-top: 5px;
    width: 55px;
    height: 29px;
}

.post-text-style {
    margin-top: -4px;
    margin-left: -2px;
}

.popup-style {
    position: relative;
}

.container-form-style {
    position: relative;
    text-align: left;
    padding: 1em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%
}

.form-style {
  padding: 1em;
}

.form-label-style {
  display: flex;
  font-weight: 600;
}

.form-body-textarea-style {
  width: 100%
}