.main-container-style {
    height: 1000px;
    
}

.container-left-column-style {
    max-width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    border-right: 1px solid;
    max-height: 230px;
}

.container-left-column-first-row {
    border-bottom: 1px solid;
}

.avatar-style {
    width: 100%;
    height: 100%;

}

.container-right-column-style {
    padding: 0px;
    margin-top: 20px;
}

.container-nav-style {
    height: 100%;
    min-width: 300px;
 
}

.container-nav-tab-style {
    border-bottom: 1px solid black;
} 

.containter-right-column-edit-container-style {
    position: relative;
    text-align: left;
    padding: 1em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.containter-right-column-edit-container-form-style {
    padding: 1em;
}

.containter-right-column-edit-container-form-bio-style {
    width: 100%
}

.friend-list-style {
    margin-top: 15px;
}

.friend-profile-pic-style {
    width: 25px;
    height: 25px;
}

.nav-tab{
    border-right: 1px solid black;

}