.search-style {
    display: block;
    margin-left: 10px;
    width: 100%;
    height: 25px;
    margin-top: 14px
}

.list-style {
    background-color: white;
    color: black;
    padding-left: 4pt;
}

.div-style {
    position: relative;
}

.ulist-style {
    background-color: white;
    position: absolute;
    width: 100%;
    padding-left: 0pt;
    list-style-type: none;
    overflow: auto;
    max-height: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.display-pic-style {
    height: 23px;
    width: 23px;
    margin-bottom: 1px;
}
