.p-style {
  text-align: right;
  margin-right: 20%;
  color: white
}

.img-style {
  margin-left: 10%;
  margin-top: 10%;
  width: 25%;
  height: 25%;
  float: left;
}

.login {
  background-color: #FF0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Button reset */


/* Shared button styles */



